<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Blue<span>Road</span></h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li class="active">
                    <a href="../index.html">home</a>
                </li>
                <li>
                    <a href="gallerie.html">gallerie</a>
                </li>
                <li>
                    <a href="reservation.html">reservation</a>
                </li>
                <li>
                    <a href="contact.html">contact</a>
                </li>
            </ul>
            <button class="burgerMenuBtn">
                <div class="burgerMenu"></div>
            </button>
        </nav>
    </header>

    <div class="container galleries">
        <section class="hero">
            <img src="../assets/images/all.jpg" alt="">
            <div class="topGlass glass"></div>
            <h1>
                <span>We Are</span> making sure to give you <span>The Best</span>
            </h1>
        </section>
        <section class="meddleSection">
            <div class="left">
                <img src="../assets/images/longImage2.jpg" class="image1" alt="">
                <img src="../assets/images/longImage1.jpg" class="image2" alt="">
            </div>
            <div class="right">
                <div class="textBox glass">
                    <h1>Our Rule Is Always Get The New In Market</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd.</p>
                </div>
                <div class="images">
                    <img src="../assets/images/redcar.jpg" alt="redcar">
                    <img src="../assets/images/white-car_outside.jpg" alt="white-car_outside">
                    <img src="../assets/images/white-car.jpg" alt="white-car">
                    <img src="../assets/images/generic-black-suv.jpg" alt="generic-black-suv">
                </div>
            </div>
        </section>
        <section class="gallerySection">
            <!-- <button><img src="../assets/iconesSvgs/Icon ionic-ios-arrow-back.svg" id="back" alt=""></button> -->
            <div class="gallerysContainer">
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name 1</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name 2</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="content glass">
                        <img src="../assets/images/moto.jpg" alt="motor">
                        <div class="text">
                            <h1>Name</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <img src="../assets/iconesSvgs/Icon ionic-ios-arrow-forward.svg" id="next" alt="motor"> -->
        </section>
    </div>

    <footer class="footer">
        <div class="logoFollow">
            <div class="logo">
                <h1>Blue<span>Road</span></h1>
            </div>
            <p>blue.road@gmail.com</p>
            <div class="socialMedia">
                <img src="../assets/iconesSvgs/021-facebook.svg" alt="fb icon">
                <img src="../assets/iconesSvgs/025-instagram.svg" alt="ig icone">
                <img src="../assets/iconesSvgs/043-twitter.svg" alt="tw icon">
            </div>
        </div>
        <div class="text">
            <h6>Subscribe To Our<br>Newsletter</h6>
            <p>Subscribe to our newsletter to receive all our news and offers. </p>
        </div>
        <div class="inputs">
            <input type="email" name="" id="" placeholder="Email">
            <button>Suscribe</button>
        </div>
    </footer>

    <script src="../assets/app.js"></script>
    <script src="../assets/gallerie.js"></script>
</body>

</html>