/** variables **/

$backgroundColor: #192428;
$secondaryDarkColor: #707070;
$lastDarkColor: #414C50;
$primaryBlue: #39ACE7;
$secondaryBlue: #0784B5;
$primaryTextColor: #fff;
$secondaryTextColor: #C4D0D5;
$fontOne: "Palanquin",
"Roboto",
sans-serif;
$fontTwo: "Roboto",
"Palanquin",
sans-serif;

/** Body **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $backgroundColor;
    overflow-x: hidden;
}

.logo {
    h1 {
        font-family: $fontOne;
        font-weight: bold;
        font-size: 55px;
        color: $primaryBlue;
        span {
            font-weight: lighter;
        }
    }
}


/** Body End **/


/** Header **/

header {
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $lastDarkColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10 12 rgba(25, 36, 40, 70%);
    position: fixed;
    width: 100%;
    z-index: 1000000;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            padding: none;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            li {
                padding-left: 50px;
                a {
                    text-transform: uppercase;
                    font-family: $fontTwo;
                    font-size: 24px;
                    color: $primaryTextColor;
                    text-decoration: none;
                }
            }
            .active {
                a {
                    color: $secondaryBlue;
                }
            }
        }
        .burgerMenuBtn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 80px;
            cursor: pointer;
            transition: all .5s ease-in-out;
            border: none;
            background-color: transparent;
            overflow: hidden;
            outline: none;
            display: none;
            margin-left: -50px;
            .burgerMenu {
                height: 6px;
                background: $primaryTextColor;
                border: none;
                border-radius: 5px;
                transition: all .5s ease-in-out;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 6px;
                    background: $primaryTextColor;
                    border-radius: 5px;
                    transition: all .5s ease-in-out;
                    transform: translateY(-16px);
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 6px;
                    background: $primaryTextColor;
                    border-radius: 5px;
                    transition: all .5s ease-in-out;
                    transform: translateY(16px);
                }
            }
        }
    }
}


/** Header End **/


/** Container **/

.container {
    padding-top: 100px;
    .glass {
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
        border: 2px solid rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(20px);
        --webkit-backdrop-filter: blur(20px);
    }
}


/** Container End **/


/**************************************************** Home ****************************************************/

.home {
    /** Hero Section **/
    .hero {
        height: calc(100vh - 100px);
        padding: 5% 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 90%;
        margin-left: 5%;
        .left-side {
            // grid-area: left;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1 {
                font-family: $fontOne;
                font-weight: bold;
                font-size: 100px;
                line-height: 103px;
                text-transform: capitalize;
                color: $primaryTextColor;
            }
            p {
                font-family: $fontTwo;
                font-weight: normal;
                font-size: 30px;
                line-height: 51px;
                color: $secondaryTextColor;
            }
            a {
                width: 250px;
                height: 70px;
                border-radius: 5px;
                background: $primaryBlue;
                box-shadow: 0px 0px 20px $primaryBlue;
                text-transform: capitalize;
                font-family: $fontTwo;
                text-decoration: none;
                font-weight: normal;
                font-size: 30px;
                text-align: center;
                padding-top: 18px;
                color: $primaryTextColor;
            }
        }
        .right-side {
            // grid-area: right;
            height: 100%;
            position: relative;
            .bgd-img {
                position: absolute;
                right: 0%;
                height: 100%;
                width: 100%;
            }
            .car-rate {
                position: absolute;
                top: 0%;
                right: 10%;
                width: 700px;
                height: 200px;
                border-radius: 10px;
                padding: 30px 0px;
                .slide {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    .rat {
                        padding-top: 10px;
                        height: 150px;
                        overflow: hidden;
                        h2 {
                            font-family: $fontOne;
                            font-weight: normal;
                            font-size: 220px;
                            color: #fff;
                            margin-top: -170px;
                        }
                        .rat-cont {
                            transition: margin-top 1s ease-in-out;
                        }
                    }
                    .text {
                        height: 140px;
                        overflow: hidden;
                        h3 {
                            font-family: $fontTwo;
                            font-weight: normal;
                            font-size: 49px;
                            color: $primaryTextColor;
                        }
                        p {
                            font-family: $fontTwo;
                            font-weight: normal;
                            font-size: 30px;
                            color: $secondaryTextColor;
                        }
                        .text-cont {
                            position: relative;
                            .txt {
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                transition: opacity 1s ease-in-out;
                            }
                        }
                    }
                }
            }
            .car-img {
                position: absolute;
                top: 40px;
                right: 10%;
                width: 90%;
                height: 90%;
                overflow: hidden;
                .car-cont {
                    img {
                        width: 100%;
                    }
                    transition: margin-top 1s ease-in-out;
                }
            }
            .car-info {
                position: absolute;
                bottom: 10%;
                right: 10%;
                width: 447px;
                height: 146px;
                border-radius: 10px;
                padding: 30px 20px;
                display: flex;
                .name {
                    height: 150px;
                    width: min-content;
                    width: 40.33%;
                    overflow: hidden;
                    padding-top: 10px;
                    h1 {
                        font-family: $fontOne;
                        font-weight: bold;
                        font-size: 119px;
                        color: $primaryTextColor;
                        line-height: 45px;
                        display: inline;
                    }
                    .name-cont {
                        width: 600%;
                        transition: margin-left 1s ease-in-out;
                    }
                }
                .price-day {
                    text-align: center;
                    margin: 5px auto;
                    color: $secondaryTextColor;
                    font-family: $fontTwo;
                    font-size: 30px;
                    .price {
                        height: 38px;
                        overflow: hidden;
                        .price-cont {
                            transition: margin-top 1s ease-in-out;
                        }
                    }
                }
            }
            .nav-btn {
                position: absolute;
                bottom: 0;
                right: 110px;
                button {
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: $secondaryTextColor;
                    cursor: pointer;
                    transition: background-color 1s ease-in-out;
                    outline: none;
                    border: none;
                    margin: 0 20px;
                }
            }
        }
    }
    /** Hero Section End **/
    /** Quality Section **/
    .quality {
        // height: calc(100vh - 100px);
        width: 100%;
        padding: 2% 5%;
        background-color: $lastDarkColor;
        h1 {
            font-family: $fontOne;
            font-weight: bold;
            font-size: 90px;
            line-height: 103px;
            text-align: left;
            color: $primaryTextColor;
            span {
                color: $primaryBlue;
            }
        }
        .content {
            display: grid;
            grid-template-columns: 7fr 5fr;
            padding: 3% 0;
            .qualities {
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
                column-gap: 10%;
                row-gap: 10%;
                .qlty {
                    text-align: center;
                    padding: 20px;
                    border-radius: 10px;
                    .title {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        h2 {
                            font-family: $fontOne;
                            font-weight: bold;
                            font-size: 33px;
                            color: $primaryTextColor;
                            margin-left: 20px;
                        }
                    }
                    p {
                        font-family: $fontTwo;
                        font-weight: normal;
                        font-size: 30px;
                        color: $secondaryTextColor;
                        margin-top: 50px;
                    }
                }
                .qltyP {
                    background-color: $backgroundColor;
                    box-shadow: 7px 10px 42px rgba(25, 36, 40, 0.77);
                }
                .qltyS {
                    background-color: $secondaryDarkColor;
                }
            }
            .content-img {
                height: 100%;
                img {
                    height: 632px;
                    width: 80%;
                    margin-left: 20%;
                    border-radius: 20px;
                }
            }
        }
    }
    /** Quality Section End **/
    /** Team Section **/
    .team {
        padding: 3% 5%;
        display: grid;
        grid-template-columns: repeat( auto-fit, 340px);
        text-align: center;
        justify-content: space-evenly;
        row-gap: 10%;
        .member {
            height: 500px;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
            .path {
                width: 726px;
                height: 600px;
                border-radius: 50%;
                position: absolute;
                bottom: -300px;
                right: -363px;
            }
            .text {
                position: absolute;
                top: 43%;
                right: 10px;
                h1 {
                    font-size: 40px;
                    font-family: $fontOne;
                    text-align: right;
                    color: $primaryBlue;
                }
                h2 {
                    font-size: 24px;
                    font-family: $fontTwo;
                    text-align: right;
                    color: $backgroundColor;
                }
                p {
                    font-family: $fontTwo;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 26px;
                    text-align: left;
                    color: $primaryTextColor;
                    margin-left: 80px;
                    margin-top: 30px;
                }
            }
        }
    }
    /** Team Section End **/
    /** Gallery Section **/
    .gallery {
        overflow: hidden;
        height: max-content;
        position: relative;
        padding: 5%;
        margin-top: 50px;
        .bg-img {
            position: absolute;
            left: 0%;
            height: 100%;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .content {
            padding: 3% 3%;
            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 50px;
                h1 {
                    font-family: $fontOne;
                    font-weight: bold;
                    font-size: 100px;
                    line-height: 103px;
                    text-align: left;
                    color: $primaryTextColor;
                }
                a {
                    font-family: $fontTwo;
                    font-weight: normal;
                    font-size: 24px;
                    text-align: left;
                    color: #29abfa;
                }
            }
            .imgs {
                display: grid;
                grid-template-columns: 1fr 1fr;
                img {
                    border-radius: 10px;
                }
                .image {
                    width: 100%;
                    height: min-content;
                    img {
                        width: 95%;
                        height: 100%;
                    }
                }
                .images {
                    display: grid;
                    grid-template-columns: repeat( auto-fit, 360px);
                    column-gap: 8%;
                    row-gap: 10%;
                    height: 260px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    /** Gallery Section End **/
}


/**************************************************** Home End ****************************************************/


/**************************************************** Gallery ****************************************************/

.galleries {
    .hero {
        width: 100%;
        height: 50vh;
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .topGlass {
            height: 100%;
            width: 100%;
        }
        h1 {
            position: absolute;
            top: 30%;
            left: 5%;
            font-family: $fontOne;
            font-weight: lighter;
            font-size: 100px;
            line-height: 166px;
            color: $primaryTextColor;
            span {
                font-weight: bold;
                color: $primaryBlue;
            }
        }
    }
    .meddleSection {
        padding: 3% 5%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        .left {
            position: relative;
            img {
                border-radius: 10px;
                height: 723px;
                width: 436px;
                box-shadow: 0px 7px 41px $secondaryTextColor;
            }
            .image1 {
                position: absolute;
                left: 20%;
            }
            .image2 {
                margin-top: 50%;
            }
        }
        .right {
            margin-left: 15%;
            .textBox {
                padding: 20px;
                border-radius: 20px;
                h1 {
                    font-family: $fontOne;
                    font-weight: bold;
                    font-size: 40px;
                    text-align: left;
                    color: $primaryTextColor;
                }
                p {
                    font-family: $fontTwo;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 59px;
                    text-align: left;
                    color: $secondaryTextColor;
                }
            }
            .images {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                img {
                    border-radius: 20px;
                    width: 452px;
                    margin: 3% 0;
                }
            }
        }
    }
    .gallerySection {
        padding: 3% 5%;
        display: flex;
        .gallerysContainer {
            justify-content: space-evenly;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .gallery {
                padding: 3% 20px;
                width: 340px;
                .content {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 20px;
                    img {
                        width: 100%;
                        height: 40%;
                    }
                    .text {
                        text-align: center;
                        padding-bottom: 10px;
                        h1 {
                            font-family: $fontOne;
                            font-weight: bold;
                            font-size: 55px;
                            color: $primaryTextColor;
                        }
                        p {
                            font-family: $fontTwo;
                            font-weight: normal;
                            font-size: 24px;
                            line-height: 42px;
                            color: $secondaryTextColor;
                        }
                    }
                }
            }
        }
    }
}


/**************************************************** Gallery End ****************************************************/


/**************************************************** Reservation ****************************************************/

.reservation {
    .hero {
        height: 50vh;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            width: 100%;
            margin-top: -150px;
            height: auto;
        }
        .text {
            position: absolute;
            bottom: 23%;
            right: 5%;
            border-radius: 20px;
            padding: 20px;
            h1 {
                font-family: $fontOne;
                font-weight: lighter;
                font-size: 100px;
                line-height: 166px;
                text-align: left;
                color: $backgroundColor;
                span {
                    font-weight: bold;
                    color: $primaryBlue;
                }
            }
        }
    }
    .reservationSection {
        padding: 3% 5%;
        position: relative;
        height: 100vh;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            // width: 100%;
            // height: 100%;
        }
        .content {
            position: absolute;
            top: 3%;
            left: 5%;
            width: 90%;
            h1 {
                font-family: $fontOne;
                font-weight: bold;
                font-size: 55px;
                color: $primaryTextColor;
                span {
                    color: $primaryBlue;
                }
            }
            .formContainer {
                margin: 20px 20%;
                border-radius: 10px;
                form {
                    display: flex;
                    flex-direction: column;
                    padding: 5% 10%;
                    .inputs {
                        margin: 20px 0;
                        display: flex;
                        align-items: center;
                    }
                    select {
                        height: 40px;
                        padding-left: 10px;
                        border-radius: 5px;
                    }
                    label {
                        margin-left: 20px;
                        font-family: $fontTwo;
                        font-weight: normal;
                        font-size: 20px;
                        color: $secondaryTextColor;
                    }
                    #days {
                        height: 40px;
                        padding-left: 10px;
                        border-radius: 5px;
                    }
                    #calc {
                        padding: 10px;
                        color: $primaryTextColor;
                        background-color: $primaryBlue;
                        border-radius: 10px;
                        box-shadow: 0px 0px 20px $primaryBlue;
                        border: none;
                        font-family: $fontTwo;
                        font-weight: normal;
                        font-size: 24px;
                        text-align: center;
                    }
                    .result {
                        padding: 10px 40px;
                        border: 2px solid $primaryBlue;
                        border-radius: 10px;
                        margin: 10px 50px;
                        p {
                            font-family: $fontTwo;
                            font-weight: normal;
                            font-size: 30px;
                            text-align: center;
                            color: $primaryBlue;
                        }
                    }
                }
            }
        }
    }
}


/**************************************************** Reservation End ****************************************************/


/**************************************************** Contact ****************************************************/

.contact {
    .hero {
        height: 50vh;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            width: 100%;
            margin-top: -80px;
            height: auto;
        }
        .text {
            position: absolute;
            top: 20%;
            left: 5%;
            border-radius: 20px;
            padding: 20px;
            h1 {
                font-family: $fontOne;
                font-weight: lighter;
                font-size: 100px;
                line-height: 166px;
                text-align: left;
                color: $backgroundColor;
                span {
                    font-weight: bold;
                    color: $primaryBlue;
                }
            }
        }
    }
    .contactSection {
        width: 100%;
        padding: 3% 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        overflow: hidden;
        .map {
            width: 100%;
            height: 100%;
            iframe {
                border-radius: 20px;
                width: -webkit-fill-available;
                height: 100%;
            }
        }
        .formContainer {
            margin: 0px 0px 0px 15%;
            border-radius: 10px;
            h1 {
                font-family: $fontOne;
                font-weight: bold;
                font-size: 55px;
                color: $primaryTextColor;
                span {
                    color: $primaryBlue;
                }
            }
            form {
                display: flex;
                flex-direction: column;
                padding: 5% 10%;
                .inputs {
                    margin: 20px 0;
                    display: flex;
                    align-items: center;
                    height: 50px;
                    padding: 10px 20px;
                    &::placeholder {
                        font-family: $fontTwo;
                        font-weight: normal;
                        font-size: 24px;
                        color: $secondaryTextColor;
                    }
                }
                .send {
                    padding: 10px 40px;
                    border: 2px solid $primaryBlue;
                    border-radius: 10px;
                    margin: 10px 100px;
                    font-family: $fontTwo;
                    font-weight: normal;
                    font-size: 30px;
                    text-align: center;
                    color: $primaryBlue;
                    background-color: transparent;
                }
            }
        }
        .alertBox {
            position: absolute;
            top: -400px;
            left: 40%;
            padding: 20px;
            border-radius: 20px;
            background-color: $secondaryTextColor;
            #okBtn {
                text-align: center;
                #ok {
                    border-radius: 5px;
                    border: none;
                    background: $primaryBlue;
                    box-shadow: 0px 0px 20px $primaryBlue;
                    text-transform: capitalize;
                    font-family: $fontTwo;
                    font-weight: bold;
                    font-size: 30px;
                    text-align: center;
                    padding: 18px;
                    color: $primaryTextColor;
                }
            }
        }
    }
}


/**************************************************** Contact End ****************************************************/


/** Footer **/

footer {
    background-color: $lastDarkColor;
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .logoFollow {
        text-align: center;
        p {
            font-family: $fontTwo;
            font-weight: normal;
            font-size: 40px;
            text-align: center;
            color: $secondaryTextColor;
        }
        .socialMedia {
            padding: 40px 0;
            display: flex;
            justify-content: space-evenly;
        }
    }
    .text {
        h6 {
            font-family: $fontTwo;
            font-weight: normal;
            font-size: 35px;
            text-align: left;
            color: $secondaryBlue;
        }
        p {
            margin-top: 30px;
            font-family: $fontTwo;
            font-weight: normal;
            font-size: 30px;
            line-height: 46px;
            text-align: left;
            color: $secondaryTextColor;
        }
    }
    .inputs {
        input {
            height: 50px;
            width: 300px;
            display: block;
            padding: 20px 10px;
            &::placeholder {
                font-family: $fontTwo;
                font-weight: normal;
                font-size: 20px;
                text-align: left;
                color: $secondaryTextColor;
            }
        }
        button {
            height: 70px;
            width: 300px;
            border-radius: 5px;
            background: transparent;
            border: 4px solid $primaryBlue;
            font-family: $fontTwo;
            font-weight: normal;
            font-size: 35px;
            text-align: left;
            color: $primaryBlue;
            text-align: center;
            margin-top: 20px;
        }
    }
}


/** Footer End **/


/** Media **/

@media screen and (max-width: 1024px) {
    header {
        nav {
            width: 90%;
            position: absolute;
            ul {
                width: 100%;
                background-color: $lastDarkColor;
                position: relative;
                flex-direction: column;
                top: 300px;
                justify-content: center;
                align-items: center;
                border-radius: 0 0 20px 20px;
                max-height: 0;
                transition: max-height 1s ease-out;
                transform-origin: top;
                overflow: hidden;
                li {
                    padding: 0;
                    margin: 50px 0px;
                }
            }
        }
        .burgerMenuBtn {
            display: block !important;
        }
    }
    .home {
        .hero {
            // padding: 40px 0 !important;
            display: grid;
            grid-column: 1;
            grid-template-columns: 1fr !important;
            grid-template-rows: 1fr 8fr !important;
            .right-side {
                margin-top: 40px;
                .car-rate {
                    width: 600px !important;
                    height: 150px !important;
                    padding: 0px 10px 10px 0px !important;
                    .gallery {
                        .rat {
                            h2 {
                                font-size: 190px !important;
                                margin-top: -143px !important;
                            }
                        }
                        .text {
                            h3 {
                                font-size: 40px !important;
                            }
                            p {
                                font-size: 30px;
                            }
                        }
                    }
                }
                .car-info {
                    position: absolute;
                    bottom: 10%;
                    right: 10%;
                    width: 447px;
                    height: 146px;
                    border-radius: 10px;
                    padding: 40px 20px;
                    display: flex;
                    .name {
                        h1 {
                            font-family: $fontOne;
                            font-weight: bold;
                            font-size: 119px;
                            color: $primaryTextColor;
                            margin-top: -90px;
                        }
                    }
                    .price-day {
                        text-align: center;
                        margin: 0 auto;
                        color: $secondaryTextColor;
                        font-family: $fontTwo;
                        font-size: 30px;
                    }
                }
            }
            .left-side {
                // grid-area: left;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p {
                    margin: 20px 0;
                }
            }
        }
        .quality {
            .content {
                display: grid;
                grid-column: 1;
                grid-template-columns: 1fr !important;
                grid-template-rows: 1.5fr 1fr !important;
                .qualities {
                    height: max-content;
                    width: 100%;
                    .qlty {
                        padding-top: 40px !important;
                        padding-bottom: 40px !important;
                    }
                }
                .content-img {
                    text-align: center;
                    img {
                        margin: 0 auto !important;
                    }
                }
            }
        }
        .gallery {
            .content {
                .imgs {
                    display: grid;
                    grid-column: 1;
                    grid-template-columns: 1fr !important;
                    grid-template-rows: 1fr 1fr !important;
                    .image {
                        text-align: center;
                    }
                    .images {
                        margin-left: 40px;
                        margin-top: 40px;
                    }
                }
            }
        }
    }
    .galleries {
        .meddleSection {
            padding: 3% 5%;
            grid-column: 1;
            grid-template-columns: 1fr !important;
            grid-template-rows: 1fr 1fr !important;
            .left {
                position: relative;
                text-align: center;
            }
            .right {
                margin-left: 0 !important;
                margin-top: 50px;
            }
        }
    }
    .reservation {
        .hero {
            margin-bottom: -152px;
        }
        .reservationSection {
            height: 50vh;
            .content {
                .formContainer {
                    margin: 20px 10%;
                }
            }
        }
    }
    .contact {
        .contactSection {
            grid-template-columns: 1fr !important;
            grid-template-rows: 1fr 1fr !important;
            .formContainer {
                margin: 40px 0px 0px 0px !important;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width:375px) {
    header {
        .logo {
            h1 {
                font-size: 40px !important;
            }
        }
    }
    .home {
        .hero {
            grid-template-columns: 1fr;
            .left-side {
                h1 {
                    font-size: 68px !important;
                }
                p {
                    font-size: 20px !important;
                }
            }
            .right-side {
                display: none;
            }
        }
        .quality {
            h1 {
                font-size: 50px !important;
            }
            .content {
                grid-template-columns: 1fr !important;
                grid-template-rows: 3.3fr 1fr !important;
                .qualities {
                    width: 357px;
                    .qlty {
                        width: 80%;
                    }
                }
            }
        }
        .team {
            row-gap: 2% !important;
        }
        .gallery {
            margin-top: 100px !important;
            .content {
                .top {
                    h1 {
                        font-size: 39px !important;
                    }
                }
                .imgs {
                    display: grid;
                    grid-column: 1;
                    grid-template-columns: 1fr !important;
                    grid-template-rows: 1fr 4fr !important;
                    .image {
                        width: 90% !important;
                        img {
                            width: 93% !important;
                            margin-left: -29px !important;
                        }
                    }
                    .images {
                        padding: inherit;
                        margin: 0;
                        text-align: center;
                        img {
                            width: 80% !important;
                        }
                    }
                }
            }
        }
    }
    .galleries {
        .hero {
            h1 {
                top: 20% !important;
                font-size: 45px !important;
                line-height: 78px !important;
            }
        }
        .meddleSection {
            padding: 3% 5%;
            grid-template-columns: 1fr !important;
            grid-template-rows: 1fr 2.5fr !important;
            .left {
                position: relative;
                text-align: center;
                img {
                    width: 250px !important;
                    height: 400px !important;
                }
            }
            .right {
                .images {
                    img {
                        width: 320px !important;
                    }
                }
            }
        }
    }
    .reservation {
        .hero {
            margin-bottom: 0;
            img {
                height: -webkit-fill-available;
            }
            .text {
                h1 {
                    font-size: 37px;
                    line-height: 62px;
                }
            }
        }
        .reservationSection {
            height: 85vh;
            .content {
                h1 {
                    font-size: 35px !important;
                }
                .formContainer {
                    margin: 20px 5%;
                    form {
                        .result {
                            margin: 10px 0;
                            padding: 10px 0px;
                            p {
                                font-size: 20px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .contact {
        .hero {
            margin-bottom: 0;
            img {
                height: -webkit-fill-available;
            }
            .text {
                h1 {
                    font-size: 37px;
                    line-height: 62px;
                }
            }
        }
        .contactSection {
            .formContainer {
                h1 {
                    font-size: 35px !important;
                }
                form {
                    .result {
                        margin: 10px 0;
                        padding: 10px 0px;
                        p {
                            font-size: 20px !important;
                        }
                    }
                }
            }
        }
    }
    footer {
        .logoFollow {
            text-align: center;
            p {
                font-size: 24px !important;
            }
        }
    }
}


/** Media End **/


/** Call Action Classes **/

.burgerMenuToggle {
    max-height: 500px;
    transition: max-height 1s ease-in;
}

.burgerMenuBtn.open {
    .burgerMenu {
        transform: translateX(-50px);
        background: transparent;
        &::before {
            transform: rotate(45deg) translate(35px, -35px);
        }
        &::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }
    }
}

.rat-cont1 {
    margin-top: 0px;
}

.rat-cont2 {
    margin-top: -170%;
}

.rat-cont3 {
    margin-top: -271%;
}

.txt-Op {
    opacity: 100% !important;
}

.name-cont1 {
    margin-left: 0px;
}

.name-cont2 {
    margin-left: -152px;
}

.name-cont3 {
    margin-left: -301px;
}

.price-cont1 {
    margin-top: 0px;
}

.price-cont2 {
    margin-top: -40px;
}

.price-cont3 {
    margin-top: -80px;
}

.activeBtn {
    background-color: $primaryBlue !important;
}

.car-cont1 {
    margin-top: 0px;
}

.car-cont2 {
    margin-top: -62%;
}

.car-cont3 {
    margin-top: -120%;
}


/** Call Action Classes End **/

.alertTitle {
    color: $primaryBlue;
    font-family: $fontOne;
}

.alertLabel {
    color: $lastDarkColor;
    font-family: $fontOne;
    font-size: 30px;
    text-align: left;
}

.alertP {
    color: $backgroundColor;
    font-family: $fontTwo;
    font-size: 24px;
    text-align: left;
}